<div>
  <div>
    <form
      [formGroup]="restaurantForm"
      (ngSubmit)="addRestaurant()"
      class="mat-elevation-z3"
    >
      <div class="flex justify-center items-center p-8">
        <mat-form-field class="mr-6" appearance="standard">
          <mat-label>Restaurant Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="E.g. Burger King"
          />
        </mat-form-field>
        <mat-form-field appearance="standard" class="mr-6">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of restaurantTypes" [value]="type.key">
              {{ type.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mr-6" appearance="standard">
          <mat-label>Coordinate</mat-label>
          <input
            type="text"
            matInput
            formControlName="coordinate"
            placeholder="E.g. 12.554729,55.70651"
          />
        </mat-form-field>
        <input
          style="display: none"
          type="file"
          accept="image/*"
          (change)="onFileChanged($event)"
          #fileInput
        />
        <button
          type="button"
          mat-raised-button
          color="accent"
          class="restaurant_image-upload"
          (click)="fileInput.click()"
        >
          Select Image
        </button>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </div>
    </form>
  </div>
  <div>
    <app-restaurant-list
      [dataSource]="dataSource"
      (nameFilterChanged)="filterByName($event)"
      (typeFilterChanged)="filterByType($event)"
      (delete)="deleteRestaurant($event)"
    ></app-restaurant-list>
  </div>
</div>
